* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainbody {
    width: 80%;
    background-color: aquamarine;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

.container h2 {
    text-align: center;
}

h2::after {
    content: "";
    background: black;
    width: 60px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px;
    transform: translateY(10px);
    position: relative;
    left: -2px;
}
.stu::after{
    content:"";
    background: black;
    width: 10px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    right: -16px;
    transform: translateY(52px);
}
.reg::before{
    content:"";
    background: black;
    width: 10px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    right: -30px;
    transform: translateY(52px);
}

.name tr td
{
    padding: 10px;
    padding-right: 48px;
}
.name tr td input{
    width: 221px ;
    height: 35px;
    padding: 10px;
    outline-color: rgb(0, 255, 157);
    border-radius: 10px;
    border: 1px solid gray;
}
.other tr td
{
    padding: 10px;
    padding-right: 30px;
}
.boxes input{
    width: 500px;
    height: 35px;
    padding: 10px;
    outline-color: rgb(0, 255, 157);
    border-radius: 10px;
    border: 1px solid gray;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name, .boxes{
    font-size: 18px;
    font-weight: 540;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid rgba(4, 192, 120, 0.973);
    cursor: pointer;
}
.next{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}