* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body{ */
/* background-color: aliceblue; */
/* background-color: rgb(252, 236, 206);
} */
html {
    scroll-behavior: smooth;
}

/* **********************************   Nav Bar *************************** */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, rgba(180,195,131,1) 5%, rgba(17,172,159,1) 50%);
    /* background-image: linear-gradient(to right, rgb(77, 55, 65) 25%, rgb(17, 172, 159) 75%);     */
    position: sticky;
    top: 0;
    z-index: 999;
}

.search{
    font-size: 20px;
    margin-left: 40px;
}

.search:hover{
    color: #fff;
    cursor: pointer;
    display: block;
}

.search:hover input{
    visibility: visible;
    display: inline-block;
    width: 165px;
    height: 30px;
}

.search input{
    visibility: hidden;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-items ul {
    display: flex;
    justify-content: space-around;
    width: 35rem;
}

.nav-items ul li {
    list-style-type: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: black;
}

.nav-items ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    transition: 0.3s linear;
}

.nav-items ul li a:hover::after {
    width: 100%;
}

.nav-items ul li a:hover {
    color: rgb(255, 255, 255);
}

.sign-area i {
    margin-right: 10px;
}

.sign-area button {
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.sign-area button:hover {
    background-color:  rgb(17, 172, 159);
}

/* ***********************    Home *********************** */
.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 5rem 5rem 5rem;
    width: 100%;
    height: 90vh;
}

.main-text h3 {
    font-size: 60px;
    position: relative;
    top: -60px;
    left: 20px;
    font-family: mv boli;
}

.main-text h3 span {
    font-size: 70px;
    margin-top: 10px;
    color: rgb(139, 111, 61);
    font-family: mv boli;
}


#dot {
    position: relative;
    top: 15px;
    font-size: 50px;
}

#let {
    color: rgb(139, 111, 61);
    font-size: 60px;
}

.main-text p {
    position: relative;
    left: 20px;
}

.main-img img {
    width: 500px;
    margin-bottom: 70px;
    margin-left: 70px;
    position: relative;
    left: 0px;
    border-radius: 10px;
}

/* ******************************    Contact ***************************  */
.about {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    height: 100vh;
}

.abt-img {
    padding-left: 50px;
}

.abt-img img {
    width: 450px;
    border-radius: 20px;
}

.abt-text h1 {
    font-size: 60px;
    text-align: center;
}

.abt-text p {
    margin-left: 3rem;
}

.abt {
    color: rgb(139, 111, 61);
    font-family: mv boli;
}

/* ***************************** Homes ****************************************** */
.foods {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.foods h1 {
    font-size: 60px;
    text-align: center;
}

.food-head {
    font-family: mv boli;
    color: rgb(139, 111, 61);
}

.flex-food {
    display: flex;
}

.box {
    width: 20rem;
    border: 1px solid  rgb(17, 172, 159);
    border-radius: 10px;
    margin: 25px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: .7s;
}

.box:hover {
    transform: scale(1.05);
    background-color:  rgb(17, 172, 159);;
    color: #fff;
    border-radius: 20px;
}

.box img {
    border-radius: 20px;
    width: 15rem;
}

.box p {
    text-align: center;
    margin-top: 20px;
}

.sub-title::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: rgb(17, 172, 159);
    display: block;
    margin: 5px;
    border-radius: 50%;
}

/* *************************** Rent homes***************************** */
.cool-drinks{
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}
.cool-drinks h1 {
    font-size: 60px;
    text-align: center;
}
.flex-drinks{
    display: flex;
}
.box-drinks {
    width: 20rem;
    border: 1px solid rgb(17, 172, 159);
    margin: 25px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: .7s;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.box-drinks:hover {
    transform: scale(1.05);
    background-color: rgb(17, 172, 159);
    color: #fff;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:20px;
}
.box-drinks:hover img{
    transform: translateY(-80px);
}
.box-drinks:hover .hide{
    visibility: visible;
}
.hide{
    border: 1px solid rgb(17, 172, 159);
    color: rgb(27, 161, 165);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 13rem;
    visibility: hidden;
    transition: .1s;
}
.box-drinks img {
    border-radius: 20px;
    width: 10rem;
    transition: .7s;
}
.box-drinks p {
    text-align: center;
    margin-top: 20px;
}

/* ************************** Ice Cream ********************** */
.ice-cream{
    width: 90%;
    margin: auto;
    padding-top: 4rem;
}
.ice-cream h1{
    font-size:60px;
    text-align:center;
}
.flex-ice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.ice-details{
    border: 1px solid rgb(15, 161, 146);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.flex-ice img{
    width: 11rem;
    transition: 1s;
}
.flex-ice:hover .ice-details{
    background-color: rgb(17, 172, 159);
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    left: -20px;
    width: auto;
}
.flex-ice:hover img{
    transform: translateX(90px);
    border-radius: 10px;
    z-index: 500;
}
.flex-ice:hover .sub-title2::after{
    background-color: #fff;
}
.sub-title2::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: rgb(17, 172, 159);
    display: block;
    margin: 5px;
    border-radius: 50%;
    transform: translateX(25rem);
    transition: 1s;
}

.footer{
    margin-top: 5%;
    width: 100%;
    height: 10rem;
    background-color: rgba(113, 38, 243, 0.192);
}
.footer img{
    width: 32%;
    height: 32%;
    border-radius: 50%;
}
.f-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 172, 159);
}
.footername{
    padding-top: 40px;
    text-align: center;
    font-size: 27px;
    padding-left: 10rem;
    
}
#logo{
    padding-right: 20rem;
    font-size: 20px;
    line-height: 20px;
    display: flex;
}
td{
    padding: 5px;
}
table{
    padding: 30px;
}
