* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
#icon{
    font-size: 1.3rem;
    cursor: pointer;
}
.heart:hover{
    color: red;
}

/* **********************************   Nav Bar *************************** */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgb(255, 188, 62) 25%, orange 75%);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    width: 35rem;
}

.nav-items ul li {
    list-style-type: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.nav-items ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    transition: 0.3s linear;
}

.nav-items ul li a:hover::after {
    width: 100%;
}

.nav-items ul li a:hover {
    color: rgb(255, 255, 255);
}

.sign-area i {
    margin-right: 10px;
}

.sign-area button {
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.sign-area button:hover {
    background-color: orange;
}

/* ***********************    Home *********************** */
.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 5rem 5rem 5rem;
    width: 100%;
    height: 90vh;
}

.main-text h1 {
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
    font-family: mv boli;
}

.main-text h1 span {
    font-size: 110px;
    color: orange;
    font-family: mv boli;
}

#dot {
    position: relative;
    top: 15px;
    font-size: 50px;
}

#let {
    color: orange;
    font-size: 60px;
}

.main-text p {
    position: relative;
    left: 20px;
}

.main-img img {
    width: 600px;
    position: relative;
    left: 0px;
}

/* ******************************    About ***************************  */
.about {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    height: 100vh;
}

.abt-img {
    padding-left: 50px;
}

.abt-img img {
    width: 450px;
    border-radius: 20px;
}

.abt-text h1 {
    font-size: 60px;
    text-align: center;
}

.abt-text p {
    margin-left: 3rem;
}

.abt {
    color: orange;
    font-family: mv boli;
}

/* ***************************** Foods ****************************************** */
.foods {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.foods h1 {
    font-size: 60px;
    text-align: center;
}

.food-head {
    font-family: mv boli;
    color: orange;
}

.flex-food {
    display: flex;
}

.box {
    width: 20rem;
    border: 1px solid orange;
    margin: 25px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: .7s;
}

.box:hover {
    transform: scale(1.05);
    background-color: orange;
    color: #fff;
    border-radius: 20px;
}

.box img {
    border-radius: 20px;
    width: 15rem;
}

.box p {
    text-align: center;
    margin-top: 20px;
}

.sub-title::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: orange;
    display: block;
    margin: 5px;
    border-radius: 50%;
}

/* *************************** Cool Drinks ***************************** */
.cool-drinks{
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}
.cool-drinks h1 {
    font-size: 60px;
    text-align: center;
}
.flex-drinks{
    display: flex;
}
.box-drinks {
    width: 20rem;
    border: 1px solid orange;
    margin: 25px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: .7s;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.box-drinks:hover {
    transform: scale(1.05);
    background-color: orange;
    color: #fff;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:20px;
}
.box-drinks:hover img{
    transform: translateY(-80px);
}
.box-drinks:hover .hide{
    visibility: visible;
}
.hide{
    border: 1px solid rgb(148, 96, 1);
    color: orange;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 13rem;
    visibility: hidden;
    transition: .1s;
}
.box-drinks img {
    border-radius: 20px;
    width: 10rem;
    transition: .7s;
}
.box-drinks p {
    text-align: center;
    margin-top: 20px;
}

/* ************************** Ice Cream ********************** */
.ice-cream{
    width: 90%;
    margin: auto;
    padding-top: 4rem;
}
.ice-cream h1{
    font-size:60px;
    text-align:center;
}
.flex-ice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.ice-details{
    border: 1px solid orange;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.flex-ice img{
    width: 10rem;
    transition: 1s;
}
.flex-ice:hover .ice-details{
    background-color: orange;
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    left: -20px;
    width: auto;
}
.flex-ice:hover img{
    transform: translateX(90px);
    z-index: 500;
}
.flex-ice:hover .sub-title2::after{
    background-color: #fff;
}
.sub-title2::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: orange;
    display: block;
    margin: 5px;
    border-radius: 50%;
    transform: translateX(28rem);
    transition: 1s;
}
